@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400&family=Noto+Sans+Mono:wght@300;400&family=Roboto:wght@300;400&display=swap');

* {
    /* font-family: 'Noto Sans Display', sans-serif; */
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font: 'Roboto';
}

div {
    overflow: visible !important;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    width: 100%;
}

.side {
    display: inline-block;
    min-width: 50%;
    min-height: 10vh;
}

.side-right {
    display: flex;
    justify-content: right;
}

.side-left {
    display: inline-block;
}

.header-logo {
    position: absolute !important;
    margin-top: 7px !important;
    margin-bottom: 20px !important;
}

.login-main {
    display: grid;
    margin: 0;
    min-height: 100vh;
    min-width: 50vw;
}

.login-form-wrapper {
    min-height: 40vh;
    min-width: 20vw;
    display: grid;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 40vh;
}

.login-input {
    display: grid;
    margin: auto;
    border: 1px solid #bbb;
    border-radius: 1px;
}

.register-main {
    display: grid;
    margin: 0;
    min-height: 100vh;
    min-width: 50vw;
}

.register-form-wrapper {
    min-height: 40vh;
    min-width: 20vw;
    display: grid;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 40vh;
}

.register-input {
    display: grid;
    margin: auto;
    border: 1px solid #bbb;
    border-radius: 1px;
}