@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400&family=Noto+Sans+Mono:wght@300;400&family=Roboto:wght@300;400&display=swap');

* {
    /* font-family: 'Noto Sans Display', sans-serif; */
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font: 'Roboto';
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    width: 100%;
}

.side {
    display: inline-block;
    min-width: 50%;
    min-height: 10vh;
}

.side-right {
    display: flex;
    justify-content: right;
}

.side-left {
    display: inline-block;
}

.header-logo {
    position: absolute !important;
    margin-top: 7px !important;
    margin-bottom: 20px !important;
}

.login-main {
    display: grid;
    margin: 0;
    min-height: 100vh;
    min-width: 50vw;
}

.login-form-wrapper {
    min-height: 40vh;
    min-width: 20vw;
    display: grid;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20vh;
}

.login-input {
    display: grid;
    margin: auto;
    border: 1px solid #bbb;
    border-radius: 1px;
}

.register-main {
    display: grid;
    margin: 0;
    min-height: 100%;
    min-width: 50%;
}

.register-form-wrapper {
    position: fixed;
    top: 20vh;
    left: 40vw;
    min-height: 40vh;
    min-width: 20vw;
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: inherit;
}

.register-input {
    min-width: 12vw;
    min-height: 30px;
    font-size: medium;
    display: grid;
    margin: auto;
    border: 1px solid #bbb;
    border-radius: 1px;
}

.register-error {
    margin-top: 10px;
    font-size: small;
    margin: auto;
    border: 1px solid rgba(211, 57, 46, 0.5);
    border-radius: 1px;
    z-index: 10;
}